/.idea/
/src/test/
/target/
/src/main/resources/
/BPMN2-small.cbpxml
/BPMN2.cbpxml
/BPMN2-smaller.cbpxml
/BPMN2-test.cbpxml
/virtualEnvXML2BC/
/xml2bc/
/joularjx-result/
/META-INF/
/scripts/powerUsage.py
/epsilon.1842.cbpxml
/src/main/java/saveResults/
/wikipedia.9316.cbpxml
